<form [formGroup]="form" (submit)="onSubmit()" class="mt-2">
  <div class="form-row">
    <div class="form-group col">
      <label>Título</label>
      <select class="form-control"
      formControlName="title"
      [ngClass]="{ 'is-invalid': f.title.errors && f.title.touched }">
        <option class="d-none" value="0"></option>
        <option value="NaoInformado">Não Informado</option>
        <option value="Tecnologo">Tecnólogo(a)</option>
        <option value="Bacharel">Bacharel</option>
        <option value="Especialista">Especialista</option>
        <option value="PosGraduado">Pós Graduado(a)</option>
        <option value="Mestrado">Mestre</option>
        <option value="Doutorado">Doutor(a)</option>
        <option value="PosDoutorado">Pós Doc</option>
      </select>
      <div *ngIf="f.function.errors?.required && f.function.touched" class="invalid-feedback">
        Título é obrigatório.
      </div>
    </div>
    <div class="form-group col-sm-5">
      <label>Primeiro Nome</label>
      <input
      type="text"
      class="form-control is-invalid"
      placeholder="Insira o Primeiro nome"
      formControlName="firstName"
      [ngClass]="{ 'is-invalid': f.firstName.errors && f.firstName.touched }"/>
      <div *ngIf="f.firstName.errors?.required" class="invalid-feedback">
        Nome é obrigatório
      </div>
    </div>
    <div class="form-group col-sm-5">
      <label>Último Nome</label>
      <input
      type="text" class="form-control is-invalid"
      placeholder="Insira o Último nome"
      formControlName="lastName"
      [ngClass]="{ 'is-invalid': f.lastName.errors && f.lastName.touched }"/>
      <div *ngIf="f.lastName.errors?.required" class="invalid-feedback">
        Último nome é obrigatório
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-5">
      <label>E-mail</label>
      <input
      class="form-control is-invalid"
      type="text"
      placeholder="Insira o seu E-mail"
      formControlName="email"
      [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"/>
      <div *ngIf="f.email.errors?.required" class="invalid-feedback">
        E-mail é obrigatório
      </div>
      <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
        Email não reconhecido. O endereço deve ser um email válido [exemplo123@exemplo.com(.br)]
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label>Telefone</label>
      <input
      type="text"
      class="form-control is-invalid"
      formControlName="phoneNumber"
      placeholder="(00) 90000-0000"
      [ngClass]="{ 'is-invalid': f.phoneNumber.errors && f.phoneNumber.touched }">
      <div *ngIf="f.phoneNumber.errors?.required" class="invalid-feedback">
        Telefone é obrigatório
      </div>
    </div>
    <div class="form-group col-sm">
      <label>Função</label>
      <select class="form-control"
      formControlName="function"
      [ngClass]="{ 'is-invalid': f.function.errors && f.function.touched }">
        <option class="d-none" value=""></option>
        <option value="NaoInformado">Não Informado</option>
        <option value="Participante">Participante</option>
        <option value="Palestrante">Palestrante</option>
      </select>
      <div *ngIf="f.function.errors?.required && f.function.touched" class="invalid-feedback">
        Função é obrigatório
      </div>
    </div>
    <div class="form-group col-12">
      <label>Descrição</label>
      <div class="alert alert-light alert-button alert-dismissible fade show mt-1" role="alert">
        Essa é a <b class="text-primary">descrição</b> que outros usuários irão ver no seu perfil.
      </div>
      <textarea
      rows="3"
      type="text"
      class="form-control is invalid"
      formControlName="description"
      [ngClass]="{ 'is-invalid': f.description.errors && f.description.touched }"></textarea>
      <div *ngIf="f.description.errors?.required" class="invalid-feedback">
        Descrição é obrigatória
      </div>
      <div *ngIf="f.description.errors?.maxlength" class="invalid-feedback">
        Descrição tem que ter no máximo 300caractéres
      </div>
      <div *ngIf="f.description.errors?.minlength" class="invalid-feedback">
        Descrição tem que ter no mínimo 20 caractéres
      </div>
    </div>
  </div>
  <div>
    <h3 class="border-bottom">Mudar Senha</h3>
    <div class="alert alert-light alert-button alert-dismissible fade show mt-1" role="alert">
      Caso necessite alterar sua <b class="text-primary">senha</b>, preencha os campos abaixo.
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm">
      <label>Senha</label>
      <input
      class="form-control is-invalid"
      type="password"
      placeholder="Digite uma Senha"
      formControlName="password"
      [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }"/>
      <div *ngIf="f.password.errors?.required && f.password.touched" class="invalid-feedback">
        Senha é obrigatória
      </div>
      <div *ngIf="f.password.errors?.minlength && f.password.touched" class="invalid-feedback">
        Senha deve ter no mínimo 6 caractéres
      </div>
    </div>
    <div class="form-group col-sm">
      <label>Confirmar Senha</label>
      <input
      class="form-control is-invalid"
      type="password"
      placeholder="Confirme a Senha"
      formControlName="confirmPassword"
      [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }"/>
      <div *ngIf="f.confirmPassword.errors?.required" class="invalid-feedback">
        A confirmação da senha é obrigatória
      </div>
      <div *ngIf="f.confirmPassword.errors?.mustMatch" class="invalid-feedback">
        As senhas precisam ser iguais
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button (click)="resetForm" class="btn btn-outline-danger mr-auto border">
        Cancelar Alteração
      </button>
      <button class="btn btn-success" type="submit">
        <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
        Salvar Alteração
      </button>
    </div>
  </div>
</form>
