<app-title class="mb-0" [iconClass]="'fa fa-home'" [title]="'Home'" ></app-title>

<div class="card rounded shadow-sm">
  <div class="carousel slide border-rounded mb-5">
    <div class="carousel-inner">
      <carousel [isAnimated]="true">
        <slide class="w-fit-content h-auto">
          <img src="assets/img/landslide-1.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide class="w-fit-content h-auto">
          <img src="assets/img/landslide-2.jpg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide class="w-fit-content h-auto">
          <img src="assets/img/landslide-3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
    </div>
  </div>

  <div class="container marketing m-0 px-auto">
    <!-- Three columns of text below the carousel -->
    <div class="d-flex justify-content-around row px-auto">
      <div class="card shadow-sm col-lg-3 px-0">
        <div class="card-header text-center">
          <img class="rounded-circle d-block mx-auto" src="assets/img/userland-1.jpg" alt="user-partner" width="140" height="140">
          <h2 class="mt-">Julia Souza</h2>
        <h6 class="text-muted font-italic">Fullstack Developer/SEO | Participante </h6>
      </div>
        <div class="col-sm-12">
          <p class="p-3 my-3">Venho participando dos eventos da plataforma a mais de 1 ano e só tenho a agradecer, super intuitiva e minimalista, fácil de utilizar. Sem contar na <b class="text-primary">visibilidade</b> que deram ao meu perfil profissional, consegui minha primeira vaga no mercado de IT em um evento que ví aqui.</p>
          <p class="align-self-start ml-3" ><a class="btn btn-secondary" href="#" role="button"><b>Detalhes &raquo;</b></a></p>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="card shadow-sm col-lg-3 px-0">
        <div class="card-header text-center px-0">
          <img class="rounded-circle d-block mx-auto" src="assets/img/userland-2.jpg" alt="user-partner" width="140" height="140">
          <h2 class="text-center d-inline-block">Eduardo Olivera</h2>
        <h6 class="text-muted text-center font-italic text-center ">Software Engineer | CEO </h6>
      </div>
        <div class="col-sm-12">
          <p class="p-3 my-3">Pro Eventos é a solução perfeita para criação de eventos tanto <b class="text-primary">online</b> como <b class="text-primary">presenciais</b>, sendo os mesmo de qualquer assunto possível, é um imenso prazer poder integrar uma plataforma que a cada dia crescer e acrescenta mais conhecimento ao mercado</p>
          <p class=" align-self-end ml-3" ><a class="btn btn-secondary" href="#" role="button"><b>Detalhes &raquo;</b></a></p>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="card shadow-sm col-lg-3 px-auto">
        <div class="card-header text-center px-0">
          <img class="rounded-circle d-block mx-auto" src="assets/img/userland-3.jpg" alt="user-partner" width="140" height="140">
          <h2>Matheus Dellavi</h2>
        <h6 class="text-muted  font-italic">Tech Leader/Content Creator | Palestrante </h6>
      </div>
        <div class="col-sm-12">
          <p class="p-3">Com a parceiria que tenho com a Pro Eventos todos os meus objetivos foram mais fáceis de se realizar, consegui me organizar e ministrar meus eventos com muita <b class="text-primary" >segurança</b> e <b class="text-primary">agilidade</b>. Sem contar nas oportunidades de <b class="text-primary">networking</b> e <b class="text-primary">visibilidade</b> que deram aos meus projetos.</p>
          <p class="justify-content-start align-self-start ml-3" ><a class="btn btn-secondary" href="#" role="button"><b>Detalhes &raquo;</b></a></p>
        </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row featurette border-top border-bottom shadow-md top-rounded mt-5">
      <div class="d-flex col-lg-7 row justify-content-center px-2 ml-auto">
        <div class="ml-auto allign-self-center mt-3">
          <h2 class="featurette-heading my-2">Contate nosso suporte <span class="text-muted">de qualquer lugar.</span></h2>
          <p class="lead px-0">Temos uma equipe de suporte especializada para poder auxiliar você com problemas, dúvidas e até imformações sobre nossos serviços.</p>
        </div>
        <button class="btn btn-outline-primary btn-lg col-sm-4 mb-sm-3 align-self-center">Contato</button>
      </div>
      <div class="col-lg-5 pr-auto ml-auto d-none d-lg-block m-0 p-0">
        <img class="featurette-image img-fluid rounded" src="assets/img/placeholder-1.jpg" alt="Generic placeholder image">
      </div>
    </div>
    <div class="d-flex flex-lg-row-reverse row featurette bg-secondary border-bottom shadow-md ">
      <div class="col-lg-7 row justify-content-center px-2 ml-auto">
        <div class="ml-auto allign-self-center mt-3">
          <h2 class="featurette-heading my-2">Veja aqui os eventos <span class="text-primary">perto de você.</span></h2>
          <p class="lead px-0">Participe do que realmente gosta! Clique aqui e veja a nossa seleção de eventos baseados na sua localização e preferência.</p>
        </div>
        <button class="btn btn-outline-light btn-lg col-sm-4 mb-sm-3 align-self-center">Eventos</button>
      </div>
      <div class="col-lg-5 pr-auto ml-auto d-none d-lg-block m-0 p-0">
        <img class="featurette-image img-fluid rounded" src="assets/img/placeholder-2.jpg" alt="Generic placeholder image">
      </div>
    </div>
    <div class="row featurette mb-5 justify-content-center">
      <div class="col-md-7">
        <h4 class="featurette-heading">Efetue seu login <a class="text-muted">aqui.</a></h4>
        <hr class="color-secondary col-sm-6" />
        <p class="lead">É novo por aqui e gostou da plataforma, clique <a class="text-muted" href="">aqui</a> para ir até a área de cadastro e começar a utilizar nossos serviços.</p>
      </div>
    </div>
</div>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<!-- FOOTER -->
<footer class=" footer container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020-2022 Developed by joaodosantoscdev, Dev. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
