<app-title [routerRef]="'profile'" [title]="'Perfil'" [iconClass]="'fa fa-address-card'" [subtitle]="'Veja suas informações de cadastro aqui.'"></app-title>
<div class="card rounded shadow-sm mb-3">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card my-3">
          <div class="card-header pt-3">
            <input type="file" #file (change)="onFileChange($event)" style="display: none;">
          </div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img class="rounded-circle"
               [src]="imageURL"
               alt="imagem-perfil"
               (click)="file.click()"
               width="120"
               height="120"
               style="cursor: pointer;">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3"><b>@</b> {{user.userName}}</div>
            <div class="h7 text-bold pb-1"><b>Nome: </b>{{user.firstName}}</div>
            <div class="h7 pb-2">
              {{user.description}}
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Meus eventos criados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos que participo</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer pb-3"></div>
        </div>
      </div>
      <div class="col-lg-9">
          <tabset>
            <tab class="border border-top-0 p-3">
              <ng-template tabHeading>
                <i class="fa fa-address-card mr-2"></i><span>Perfil</span>
              </ng-template>
              <app-profile-details (changeFormValue)="setFormValue($event)"></app-profile-details>
            </tab>
            <tab *ngIf="isSpeaker">
              <ng-template tabHeading>
                <i class="fa fa-user-graduate mr-2"></i><span>Palestrante</span>
              </ng-template>
            </tab>
            <tab *ngIf="isSpeaker">
              <ng-template tabHeading>
                <i class="fa fa-share-square mr-2"></i><span>Rede Sociais</span>
              </ng-template>
            </tab>
          </tabset>
      </div>
    </div>
</div>
