<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text pr-3" for="">Filtro :</div>
        </div>
        <input
        type="text"
        class="form-control"
        placeholder="Buscar por Tema ou Local"
        (input)="filterSpeakers($event.target)"
        />
      </div>
    </div>
      <div>
        <a class="d-flex btn btn-outline-primary" routerLink="/events/details">
          <i class="fa fa-plus-circle my-1"></i>
          <b class="ml-1 d-none d-sm-block">Novo</b>
        </a>
      </div>
  </div>
  <div *ngIf="speakers && speakers.length" class="row mt-2">
    <div class="col-md-4 mb-4 d-flex align-items-stretch" *ngFor="let speaker of speakers">
      <div class="card d-flex">
        <div class="d-flex align-self-center pt-3">
          <img class="rounded-circle"
            [src]="getImg(speaker.user.imageURL)"
            alt="imagem-perfil"
            width="120"
            height="120"/>
        </div>
        <div class="card-body">
          <div class="h4 text-center mb-3"><b>@</b> {{speaker.user.userName}}</div>
          <div class="h7 text-bold text-center pb-1"><b>Nome: </b>{{speaker.user.firstName}}</div>
          <div class="h7 pb-2">
            <div class="text-center">{{speaker.user.description}}</div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6 text-center border-right">
                <div class="h5">1342</div>
                <div class="h6 text-muted">Meus eventos criados</div>
              </div>
              <div class="col-6 text-center">
                <div class="h5">1342</div>
                <div class="h6 text-muted">Eventos que ministro</div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
